<link href="styles.css" rel="stylesheet" />
<div class="banner-container" id="bannerContainer">
  <span class="header-text">This website uses cookies</span>
  <p>
    In order to offer you the most effective service possible, our site makes use of necessary
    cookies and similar technologies. With your permission we use statistic cookies to test and
    optimize the website. If you accept marketingcookies we share information with our partners for
    social media, advertising and analysis. Please let us know underneath which cookies we can use.
  </p>
  <div>
    <button id="settingsBtn" class="button">Settings</button>
    <button id="acceptAllBtn" class="button">Accept All</button>
  </div>
</div>
