<div class="banner-container" id="bannerContainer">
    <span class="header-text">Este sitio web utiliza cookies</span>
    <p>Para ofrecerle el servicio más eficaz posible, nuestro sitio utiliza las cookies necesarias y tecnologías similares. Con su permiso, utilizamos cookies estadísticas para probar y optimizar el sitio web. Si acepta cookies de marketing, compartimos información con nuestros socios para redes sociales, publicidad y análisis. Háganos saber debajo qué cookies podemos utilizar.
    </p>
    <div>
       <button id="settingsBtn" class="button">Ajustes</button>
       <button id="acceptAllBtn" class="button">Aceptar todo</button>
    </div>
 </div>